/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
  body {
    background-position: inherit;
  }

  #container {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: inherit;
    justify-content: center;
  }

  #fileSelect {
    color: #4c4c4c !important;
    font-size: 2em !important;
    font-weight: lighter !important;
    text-align: center !important;
  }

  #uploadFrom {
    background: #ffffffb0;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2);
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 30px 15px;
  }

  #uploadContainer {
    display: flex;
    justify-content: center;
    height: auto;
    width: 50em;
  }

  #uploadArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #uploadArea > div > button {
    height: 2em;
    font-size: 2em;
    margin-top: 1em;
    align-items: center;
  }

  #droparea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  #descriptionArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    color: white;
    height: 50em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #uploadTitle {
    font-size: 8em;
    text-align: center;
  }

  #dropareaOff {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #dropareaOff > p {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    color: #6e6e6e;
  }

  #subtitle {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding-left: 2em;
    padding-right: 2em;
  }

  #dropareaOr {
    margin-bottom: 10px;
    color: #4c4c4c;
    font-size: 2em;
    text-align: center;
  }

  #droparea > p {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 4em;
  }
  #droparea > a {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
  }

  #browsefilesBta {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: cornflowerblue;
    transition: background 0.3s ease;
    text-decoration: none;
    height: 2em;
    width: fit-content;
    text-align: center;
    font-size: 2em;
  }

  #browsefilesBtaOff {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: darkgray;
    transition: background 0.3s ease;
    text-decoration: none;
    height: 20px;
    width: fit-content;
    text-align: center;
    margin-bottom: 5px;
  }

  #browsefilesBta:hover {
    color: white;
    background: royalblue;
  }

  #uploadBta {
    height: 2em;
    width: fit-content;
    font-size: 2em;
  }


  #uploadBta {
    padding: 8px 24px;
    border-radius: 4px;
    background: mediumseagreen;
    transition: background 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
    height: 2em;
    font-size: 2em;
    margin-top: 1em;
  }

  #uploadBta > a {
    text-decoration: none;
    color: white;
  }

  #uploadBta:hover {
    background: forestgreen;
  }

  .addedFile {
    display: flex;
    flex-direction: column;
    color: darkgrey;
    align-items: center;
    border-radius: 10px;
    padding: 7px 12px;
    margin-top: 6px;
    height: auto;
    text-align: center;
    margin-bottom: 6px;
  }

  .btaBG {
    background-color: #c6c5c5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
  }

  #downloadOrCopy {
    flex-direction: column;
    align-items: center;
  }


  textarea {
    width: 50%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    border: none;
    color: darkgrey;
    margin-top: 15px;
  }

  .downloadClipBoard {
    padding: 8px 24px;
    margin-bottom: 5px;
    border-radius: 4px;
    background: cornflowerblue;
    transition: background 0.3s ease;
    width: fit-content;
    text-align: center;
    color: white;
    border: none;
  }

  .downloadClipBoard:hover {
    background: royalblue;
    cursor: pointer;
  }

  #copyLinkButton {
    background-color: mediumseagreen;
  }

  .hidden {
    display: none;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}