body {
  background: white;
  font-family: Verdana;
  font-size: 13px;
  color: black;
}

#title, #subtitle {
  text-align: center;
  color : darkgrey;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#droparea,
#dropareaOff {
  border: dashed;
  border-color: darkgrey;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin-bottom: 50px;
}

#droparea > p,
#dropareaOff > p {
  color: darkgrey;
  font-weight: bold;
  font-size: 16px;
}

#browsefilesBta {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: cornflowerblue;
  transition: background 0.3s ease;
  text-decoration: none;
  height: 20px;
  width: fit-content;
  text-align: center;
}

#browsefilesBtaOff {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: darkgray;
  transition: background 0.3s ease;
  text-decoration: none;
  height: 20px;
  width: fit-content;
  text-align: center;
}
#browsefilesBta:hover {
  color: white;
  background: royalblue;
}

#uploadBta {
  padding: 8px 24px;
  border-radius: 4px;
  background: mediumseagreen;
  transition: background 0.3s ease;
  height: 20px;
  width: fit-content;
  text-align: center;
}

#uploadBta > a {
  text-decoration: none;
  color: white;
}

#uploadBta:hover {
  background: forestgreen;
}

#dropareaOr
{
  margin-bottom: 10px;
  color: darkgrey;
  font-size: 13px;
  text-align: center;
}

#tooManyFiles {
  margin-bottom: 10px;
  color: red;
  font-size: 13px;
  text-align: center;
}

.addedFile {
  position: relative;
  text-align: center;
  color: white;
  border: 1px solid darkgray;
  padding: 18px 12px;
  height: 18px;
  margin-bottom: 15px;
}

.progressBar {
  background-color: mediumseagreen;
  position: absolute;
  height: 100%;
  width: 5%;
  top: 0;
  left: 0;
  z-index: -1;
}

.btaBG {
  background-color: #c6c5c5;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}
