body {
  background-image: url("images/bigupload-background.jpg");
  background-size: cover;
  font-family: Verdana, sans-serif;
  font-size: 13px;
}

#container {
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
}

#fileSelect {
  color: darkgrey !important;
  font-size: 1em !important;
  font-weight: lighter !important;
  text-align: center !important;
}

#uploadFrom {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2);
  height: auto;
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 30px 15px;
}

#uploadContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

#uploadArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#droparea {
  border: 2px dashed;
  border-color: darkgrey;
  border-radius: 10px;
  height: 16em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#descriptionArea {
  color: white;
}

#uploadTitle {
  font-size: -webkit-xxx-large;
  text-align: center;
}

#dropareaOff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dropareaOff > p {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #6e6e6e;
}

#subtitle {
  text-align: center;
  font-size: medium;
  font-weight: 700;
}

#dropareaOr {
  margin-bottom: 10px;
  color: darkgrey;
  font-size: 13px;
  text-align: center;
}

#droparea > p {
  color: cornflowerblue;
  font-weight: bold;
  font-size: 16px;
}

#browsefilesBta {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: cornflowerblue;
  transition: background 0.3s ease;
  text-decoration: none;
  height: 20px;
  width: fit-content;
  text-align: center;
}

#browsefilesBtaOff {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: darkgray;
  transition: background 0.3s ease;
  text-decoration: none;
  height: 20px;
  width: fit-content;
  text-align: center;
  margin-bottom: 5px;
}

#browsefilesBta:hover {
  color: white;
  background: royalblue;
}

#uploadBta,
#downloadBta {
  padding: 8px 24px;
  border-radius: 4px;
  background: mediumseagreen;
  transition: background 0.3s ease;
  height: 20px;
  width: fit-content;
  text-align: center;
  margin-bottom: 10px;
}

#uploadBta > a,
#downloadBta > a {
  text-decoration: none;
  color: white;
}

#uploadBta:hover,
#downloadBta:hover {
  background: forestgreen;
}

.addedFile {
  display: flex;
  flex-direction: column;
  color: darkgrey;
  align-items: center;
  border-radius: 10px;
  padding: 7px 12px;
  margin-top: 6px;
  height: auto;
  text-align: center;
  margin-bottom: 6px;
}

.btaBG {
  background-color: #c6c5c5;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

#downloadOrCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

progress::-moz-progress-bar { background: mediumseagreen; }
progress::-webkit-progress-value { background: mediumseagreen; }
progress { backcolor: mediumseagreen; }

textarea {
  width: 50%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  border: none;
  color: darkgrey;
  margin-top: 15px;
}

.downloadClipBoard {
  padding: 8px 24px;
  margin-bottom: 5px;
  border-radius: 4px;
  background: cornflowerblue;
  transition: background 0.3s ease;
  height: inherit;
  width: fit-content;
  text-align: center;
  color: white;
  border: none;
}

.downloadClipBoard:hover {
  background: royalblue;
  cursor: pointer;
}

.hidden {
  display: none;
}
