@import url("mobile.scss");
@import url("laptop.scss");

html {
  background: white;
}

body {
  background-image: url("images/bigupload-background.jpg");
  background-size: cover;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  margin: 0px;
  height: 100vh;
}