{% extends 'base.html.twig' %}

{% block title %}BIGUPLOAD{% endblock %}
{% block body %}
    <div class="container ctn-row-reverse">
        {% include 'components/card.html.twig' with {
                'template': 'upload'
            }
        %}

        {% include 'blocks/left-side.html.twig' %}

        <script defer type="text/javascript" src={{ asset("scripts/upload.js") }}></script>
        <script defer type="text/javascript" src={{ asset("scripts/copy_to_clipboard.js") }}></script>
    </div>
{% endblock %}
