<div id="card-area-drop">
    <i class="fa-solid fa-circle-plus"></i>
    <h1 id="card-area-title">Drop your file here</h1>
    <span id="drop-area-or">or</span>
    {% include 'components/buttons/link-button.html.twig' with {
        'id': 'browse-files-btn',
        'color': 'blue',
        'text': 'Choose your file',
        'href': 'javascript:;'
    } %}
    <h2 id="card-area-subtitle">Please note that you can only upload one file at a time</h2>
</div>

<div id="card-area-upload" class="hidden">
    <i class="fa-solid fa-cloud-arrow-up"></i>
    <h1 id="card-area-title">Start uploading your file</h1>
    {% include 'components/buttons/link-button.html.twig' with {
        'id': 'upload-files',
        'color': 'blue',
        'text': 'Upload your file',
        'href': 'javascript:;'
    } %}

    <div id="download-or-copy" class="hidden">
        {% include 'components/buttons/classic-button.html.twig' with {
            'id': 'copyLinkButton',
            'extraClasses': 'downloadClipBoard',
            'color': 'blue',
            'text': 'Copy the link'
        } %}
        <script type="text/javascript" src={{ asset("scripts/copyToClipboard.js") }}></script>
        <textarea readonly id="downloadLink" class="hidden">link</textarea>
    </div>

    <div id="filelist"></div>

    {% include 'components/buttons/classic-button.html.twig' with {
        'id': 'refreshButton',
        'extraClasses': 'downloadClipBoard hidden',
        'color': 'darkgrey',
        'text': 'Upload a new file',
        'onClick': 'window.location.href=window.location.href'
    } %}
</div>
