.btn-bglpd {
    display: flex;
    font-family: system-ui;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    align-items: center;
    transition: background 0.3s ease;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    position:relative;
}

.btn-bglpd:active {
    transform: scale(0.96);
}

.btn-bglpd::before,
.btn-bglpd::after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    background-repeat: no-repeat;
}

.btn-bglpd.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, cornflowerblue 15%, transparent 20%),
    radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, cornflowerblue 15%, transparent 20%),
    radial-gradient(circle, cornflowerblue 20%, transparent 20%);
    background-size: 20% 40%,
    15% 40%,
    18% 30%,
    10% 40%,
    18% 30%,
    10% 30%;
    background-position: 15% 40%,
    35% 90%,
    45% 40%,
    60% 30%,
    70% 90%,
    75% 80%;
    animation: topBubbles 0.4s ease-in-out forwards;
}

@keyframes topBubbles {
    50% {
        background-position: 15% 50%,
        35% 30%,
        50% 25%,
        65% 35%,
        75% 35%,
        80% 50%;
    }
    100% {
        background-position: 15% 60%,
        35% 50%,
        60% 10%,
        65% 40%,
        75% 25%,
        80% 40%;
        background-size: 0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
    }
}

.btn-bglpd.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, cornflowerblue 15%, transparent 20%),
    radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, cornflowerblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, cornflowerblue 15%, transparent 20%);
    background-size: 20% 40%,
    15% 40%,
    18% 30%,
    10% 40%,
    18% 30%,
    18% 30%;
    background-position: 10% 20%,
    25% 10%,
    30% 10%,
    55% 10%,
    70% 10%,
    85% 10%;
    animation: bottomBubbles 0.4s ease-in-out forwards;
}

@keyframes bottomBubbles {
    50% {
        background-position: 12% 30%,
        30% 60%,
        40% 60%,
        55% 60%,
        70% 70%,
        85% 60%;
    }
    100% {
        background-position: 15% 40%,
        30% 65%,
        45% 70%,
        60% 70%,
        70% 80%,
        85% 65%;
        background-size: 0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
    }
}

.btn-bglpd-link {
    height: 25px;
    padding: 8px 35px;
}

.btn-bglpd-classic {
    height: 40px;
    padding: 8px 30px;
}

.btn-bckg-blue {
    background: cornflowerblue;
}

.btn-bckg-blue:hover {
    background: royalblue;
}

.btn-bckg-green {
    background: forestgreen;
}

.btn-bckg-green:hover {
    background: darkgreen;
}

.btn-bckg-darkgrey {
    background: darkgrey;
}

.btn-bckg-darkgrey:hover {
    background: grey;
}

@media (min-width:320px) {
    #browse-files-btn-off {
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
        background: darkgray;
        transition: background 0.3s ease;
        text-decoration: none;
        height: 20px;
        width: fit-content;
        text-align: center;
        margin-bottom: 5px;
    }
}

/* hi-res laptops and desktops: min 1281 */
/* tablet, landscape iPad, lo-res laptops ands desktops: min 961 */
@media (min-width:961px) {
    #browse-files-btn {
        display: flex;
        align-items: center;
        transition: background 0.3s ease;
        color: whitesmoke;
        text-decoration: none;
        font-size: 1.2em;
        padding: 8px 35px;
        border-radius: 8px;
        height: 25px;
    }

    #browse-files-btn-off {
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
        background: darkgray;
        transition: background 0.3s ease;
        text-decoration: none;
        height: 20px;
        width: fit-content;
        text-align: center;
        margin-bottom: 5px;
    }
}

