.container-error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-error {
    background-color: #ffffffcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    border-radius: 10px;
}

.fa-circle-chevron-down {
    font-size: 6em;
    color: #8d0000;
}

.title-error {
    margin-top: 30px;
}

.text-error {
    text-align: center;
    padding-bottom: 30px;
}