@import url("bundles/error.css");
@import url("components/buttons.css");
@import url("components/card.css");
@import url("blocks/left-side.css");
@import url("blocks/upload-card.css");
@import url("blocks/download-card.css");

html {
    background: white;
}

body {
    background-image: url("images/bigupload-background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100vh;
}

.container {
    color: black;
    display: flex;
    height: inherit;
}

.ctn-centered {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.ctn-row-reverse {
    flex-direction: row-reverse;
    align-items: center;
}

@media (max-width:960px) {
    .ctn-row-reverse {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

