@import url("mobile.css");
@import url("laptop.css");

html {
    background: white;
}

body {
    background-image: url("images/bigupload-background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100vh;
}