/* hi-res laptops and desktops */
@media (min-width:1281px) {

  #file-select {
    color: #4c4c4c !important;
    font-size: 1em !important;
    font-weight: lighter !important;
    text-align: center !important;
  }

  #upload-from {
    background: #ffffffb0;;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2);
    height: auto;
    width: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 30px 15px;
  }

  #upload-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  #upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upload-area > div > button, #upload-btn {
    height: 3em;
    font-size: 1em;
    margin-top: 1em;
    align-items: center;
  }

  #description-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
  }

  #upload-title {
    font-size: -webkit-xxx-large;
    text-align: center;
  }

  #drop-area-off {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #drop-area-off > p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #6e6e6e;
  }

  #subtitle {
    text-align: center;
    font-size: medium;
    font-weight: 700;
  }

  #drop-area-or {
    margin-bottom: 10px;
    color: #4c4c4c;
    font-size: 13px;
    text-align: center;
  }

  #upload-btn,
  #download-btn {
    padding: 8px 24px;
    border-radius: 4px;
    background: mediumseagreen;
    transition: background 0.3s ease;
    height: 20px;
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
  }

  #upload-btn > a,
  #download-btn > a {
    text-decoration: none;
    color: white;
  }

  #upload-btn:hover,
  #download-btn:hover {
    background: forestgreen;
  }

  .added-file {
    display: flex;
    flex-direction: column;
    color: darkslategrey;
    align-items: center;
    border-radius: 10px;
    padding: 7px 12px;
    margin-top: 6px;
    height: auto;
    text-align: center;
    margin-bottom: 6px;
  }

  .btn-bg {
    background-color: #c6c5c5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
  }

  #download-or-copy {
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 50%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    border: none;
    color: darkgrey;
    margin-top: 15px;
  }

  .hidden {
    display: none;
  }
}
