/* hi-res laptops and desktops */
@media (min-width:1281px) {

  .container {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: inherit;
  }

  #fileSelect {
    color: #4c4c4c !important;
    font-size: 1em !important;
    font-weight: lighter !important;
    text-align: center !important;
  }

  #uploadFrom {
    background: #ffffffb0;;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2);
    height: auto;
    width: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 30px 15px;
  }

  #uploadContainer {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  #uploadArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #uploadArea > div > button, #uploadBta {
    height: 3em;
    font-size: 1em;
    margin-top: 1em;
    align-items: center;
  }

    #droparea {
    border: 1px dashed;
    border-color: darkgrey;
    border-radius: 10px;
    height: 16em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  #descriptionArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
  }

  #uploadTitle {
    font-size: -webkit-xxx-large;
    text-align: center;
  }

  #dropareaOff {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #dropareaOff > p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #6e6e6e;
  }

  #subtitle {
    text-align: center;
    font-size: medium;
    font-weight: 700;
  }

  #dropareaOr {
    margin-bottom: 10px;
    color: #4c4c4c;
    font-size: 13px;
    text-align: center;
  }

  #droparea > p {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 16px;
  }

  #browsefilesBta {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: cornflowerblue;
    transition: background 0.3s ease;
    text-decoration: none;
    height: 20px;
    width: fit-content;
    text-align: center;
    font-size: 1em;
  }

  #browsefilesBtaOff {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: darkgray;
    transition: background 0.3s ease;
    text-decoration: none;
    height: 20px;
    width: fit-content;
    text-align: center;
    margin-bottom: 5px;
  }

  #browsefilesBta:hover {
    color: white;
    background: royalblue;
  }

  #uploadBta,
  #downloadBta {
    padding: 8px 24px;
    border-radius: 4px;
    background: mediumseagreen;
    transition: background 0.3s ease;
    height: 20px;
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
  }

  #uploadBta > a,
  #downloadBta > a {
    text-decoration: none;
    color: white;
  }

  #uploadBta:hover,
  #downloadBta:hover {
    background: forestgreen;
  }

  .addedFile {
    display: flex;
    flex-direction: column;
    color: darkslategrey;
    align-items: center;
    border-radius: 10px;
    padding: 7px 12px;
    margin-top: 6px;
    height: auto;
    text-align: center;
    margin-bottom: 6px;
  }

  .btaBG {
    background-color: #c6c5c5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
  }

  #downloadOrCopy {
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 50%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    border: none;
    color: darkgrey;
    margin-top: 15px;
  }

  .downloadClipBoard {
    padding: 8px 24px;
    margin-bottom: 5px;
    border-radius: 4px;
    background: cornflowerblue;
    transition: background 0.3s ease;
    height: inherit;
    width: fit-content;
    text-align: center;
    color: white;
    border: none;
  }

  .downloadClipBoard:hover {
    background: royalblue;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
}
