/* smartphones, iPhone, portrait 480x320 phones */
/*@media (min-width:320px)  {
  body {
    background-position: inherit;
  }

  .container {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: inherit;
    justify-content: center;
  }

  #file-select {
    color: #4c4c4c !important;
    font-size: 2em !important;
    font-weight: lighter !important;
    text-align: center !important;
  }

  #upload-from {
    background: #ffffffb0;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2);
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 30px 15px;
  }

  #upload-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: 50em;
  }

  #upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upload-area > div > button {
    height: 2em;
    font-size: 2em;
    margin-top: 1em;
    align-items: center;
  }

  #droparea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  #description-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 50em;
    padding-left: 2em;
    padding-right: 2em;
  }

  #upload-title {
    font-size: 8em;
    text-align: center;
  }

  #drop-area-off {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #drop-area-off > p {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    color: #6e6e6e;
  }

  #subtitle {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding-left: 2em;
    padding-right: 2em;
  }

  #drop-area-or {
    margin-bottom: 10px;
    color: #4c4c4c;
    font-size: 2em;
    text-align: center;
  }

  #droparea > p {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 4em;
  }

  #droparea > a {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
  }

  #upload-btn {
    height: 2em;
    width: fit-content;
    font-size: 2em;
  }


  #upload-btn {
    padding: 8px 24px;
    border-radius: 4px;
    background: mediumseagreen;
    transition: background 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
    height: 2em;
    font-size: 2em;
    margin-top: 1em;
  }

  #upload-btn > a {
    text-decoration: none;
    color: white;
  }

  #upload-btn:hover {
    background: forestgreen;
  }

  .added-file {
    display: flex;
    flex-direction: column;
    color: darkgrey;
    align-items: center;
    border-radius: 10px;
    padding: 7px 12px;
    margin-top: 6px;
    height: auto;
    text-align: center;
    margin-bottom: 6px;
  }

  .btn-bg {
    background-color: #c6c5c5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
  }

  #download-or-copy {
    flex-direction: column;
    align-items: center;
  }


  textarea {
    width: 50%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    border: none;
    color: darkgrey;
    margin-top: 15px;
  }

  .downloadClipBoard {
    padding: 8px 24px;
    margin-bottom: 5px;
    border-radius: 4px;
    background: cornflowerblue;
    transition: background 0.3s ease;
    width: fit-content;
    text-align: center;
    color: white;
    border: none;
  }

  .downloadClipBoard:hover {
    background: royalblue;
    cursor: pointer;
  }

  #copyLinkButton {
    background-color: mediumseagreen;
  }

  .hidden {
    display: none;
  }
}*/


/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/*@media (min-width:481px)  {

}*/

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/*@media (min-width:641px)  {
  #upload-title {
    font-size: 4em;
    text-align: center;
  }

  #droparea > p {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 2.5em;
  }

  #drop-area-or,  #file-select, .browsefilesBta {
    font-size: 1.5em !important;
  }
}*/

/* tablet, landscape iPad, lo-res laptops ands desktops */
/*@media (min-width:961px)  {

}*/

/* big landscape tablets, laptops, and desktops */
/*@media (min-width:1025px) {

}*/
