<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Bigupload{% endblock %}</title>
        <link rel="icon" href="{{  asset("styles/images/favicon.svg") }}" sizes="any" type="image/svg+xml" >
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script defer type="application/javascript" src={{ asset("library/jquery/jquery.js") }}></script>
            <script type="text/javascript" src={{ asset("library/plupload/plupload.full.min.js") }}></script>
            <script defer src="https://kit.fontawesome.com/a8ed703567.js" crossorigin="anonymous"></script>
            {% block importmap %}
                {{ importmap('app') | raw | replace({'<script': '<script nonce="' ~ csp_nonce('script') ~ '"' }) | raw }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
