<div id="cardArea">
    {% include 'components/buttons/link-button.html.twig' with {
        'id': 'browsefilesBta',
        'color': 'green',
        'text': 'Download',
        'href': downloadUrl
    } %}
</div>
