<div id="upload-container">
    <div id="upload-from">
        <div id="upload-area">
            <div id="card-area">
                <p>Drop your file here</p>
                <p id="file-select">Please note that you can only upload one file at a time</p>
                <span id="drop-area-or">or</span>
                {% include 'components/buttons/link-button.html.twig' with {
                    'id': 'browse-files-btn',
                    'color': 'blue',
                    'text': 'Download your file',
                    'href': 'javascript:;'
                } %}

                {% include 'components/buttons/classic-button.html.twig' with {
                    'id': 'refreshButton',
                    'extraClasses': 'downloadClipBoard hidden',
                    'color': 'green',
                    'text': 'Upload a new file',
                    'onClick': 'window.location.href=window.location.href'
                } %}
            </div>
            <div id="filelist"></div>
            <div id="upload-btn" class="hidden">
                <a id="upload-files" href="javascript:;">Upload your file</a>
            </div>
            <div id="download-or-copy" class="hidden">
                <!-- <div id="download-btn">
                    <a id="downloadFile" href="app/download.php" target="_blank">Download your files</a>
                </div> -->

                <!-- <div id="copyArea"> -->
                {% include 'components/buttons/classic-button.html.twig' with {
                    'id': 'copyLinkButton',
                    'extraClasses': 'downloadClipBoard',
                    'color': 'blue',
                    'text': 'Copy the link'
                } %}
                <script type="text/javascript" src={{ asset("scripts/copyToClipboard.js") }}></script>
                <textarea readonly id="downloadLink" class="hidden">link</textarea>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>