{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-error" >
        <div class="message-error">
            <h1 class="title-error">Error</h1>
            <p class="text-error">
                The requested page couldn't be located. <br>
                Checkout for any URL misspelling <br>
                or
            </p>
            {% include 'components/buttons/link-button.html.twig' with {
                'id': 'error-404-btn',
                'color': 'blue',
                'text': 'Upload a new file',
                'href': path('home.index')
            } %}
        </div>
    </div>
{% endblock %}